# HTTP server requirements
flask==3.1.0
flask_cors==5.0.1
waitress==3.0.2
# DB requirements
mariadb==1.1.12
# MQTT requirements
paho-mqtt==2.1.0
# Scheduled tasks requirements
schedule==1.2.2
# Get location current time
astral==3.2
